<div class="hero-container">
  <div class="section">
    <div class="heroes-view">
      <div class="heroes-title">
        <h2>My Heroes</h2>
      </div>
      <div class="heroes-content">
        <div>
          <ul class="heroes">
            <!-- <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
                                  <span class="badge">{{hero.id}}</span>{{hero.name}}
            </li> -->
            <li *ngFor="let hero of heroes" (click)="getHero(hero.hero_no)">
              <a routerLink="/detail/{{hero.hero_no}}">
                <span class="badge">{{hero.hero_no}}</span>{{hero.name}}
              </a>
              <button class="delete" title="delete hero" (click)="delete(hero)">X</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="add-hero-view">
      <div class="add-hero-section">
        <h2>Add a Hero</h2>
        <div class="input-section">
          <div>
            <label>
              ID
              <input #heroID placeholder="Enter Hero ID" />
            </label>
          </div>
          <div>
            <label>
              Hero Name
              <input #heroName placeholder="Enter Hero Name" />
            </label>
          </div>
        </div>
        <div class="but-section">
          <button class="back-but" (click)="add(heroID.value,heroName.value); heroName.value=''; heroID.value=''">Add</button>
        </div>
      </div>
      <!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
    </div>
    <div class="message-view">
        <div class="title-section">
          <h2 class="msg-title">Messages</h2>
          <button class="clear" (click)="messageService.clear()">Clear</button>
        </div>
      <div class="msgs">
        <app-messages></app-messages>
      </div>
    </div> 
  </div>
</div>