<table border='1px'>
    <% heroes.forEach(function(hero){ %>
        <tr>
            <td><%= hero.id %></td>
            <td><%= hero.name %></td>
            <td><%= hero.email %></td>
        </tr>
    <% }) %>
</table>