<div class="search-box">
  <div class="input-box">
    <label>
      <input #searchBox id="search-box" 
      (keyup)="search(searchBox.value); searchResult.style='display:block'" 
      placeholder="Search Heroes" />
    </label>
    <div #searchResult class="search-results" >
      <ul>
        <li *ngFor="let hero of heroes$ | async">
          <a routerLink="/detail/{{hero.hero_no}}" (click)=" searchBox.value=''; searchResult.style='display:none'">
            {{ hero.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="search-results">
    <ul>
      <li *ngFor="let hero of heroes$ | async">
        <a routerLink="/detail/{{hero.id}}">
          {{ hero.name }}
        </a>
      </li>
    </ul>
  </div> -->
  <!-- <div class="but-box">
    <button>Search</button>
  </div> -->
</div>