<div class="search-box">
  <div class="input-box">
    <label>
      <input #searchBox id="search-box" 
      (keyup)="search(searchBox.value); searchResult.style='display:block'" 
      placeholder="Search Heroes" />
    </label>
    <div #searchResult class="search-results" >
      <ul>
        <li *ngFor="let hero of heroes | filter:searchBox.value ">
          <a routerLink="/detail/{{hero.hero_no}}" (click)="test(); searchBox.value=''; searchResult.style='display:none'">
            {{ hero.name }}
          </a>
        </li>
        <li *ngIf="(heroes | filter:searchBox.value).length < 1 && searchBox.value !== '' ">
          No Results Found
        </li>
      </ul>
    </div>
  </div>
</div>